.todoCard {
  background-color: rgba(156, 177, 39, 0.205);
  width: 340px;
  border: 1px solid rgba(30, 30, 30, 0.3);
  border-radius: 2px;
  margin: 10px auto;
  padding: 9px;
  text-align: left;
  transition: 0.4s;
  word-wrap: break-word;
  font-weight: 100;
  position: relative;
}

.todoCard:hover {
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.09),
    0px 3px 19px rgba(51, 51, 51, 0.04);
}

.completed {
  background-color: lightgreen;
  text-decoration: line-through;
}

.cardText {
  text-indent: 25px;
}

.journalIcon {
  top: 11px;
  position: absolute;
}

.icon {
  float: right;
  transition: 0.3s;
  z-index: 999;
  margin-left: 7px;
}

.icon:hover {
  cursor: pointer;
  transform: scale(1.1);
}

@media (max-width: 486px) {
  .todoCard {
    width: 100%;
  }
}
